In [ ]:
import json

In [ ]:
with open('/content/output1.json', 'r') as file:
  data = json.load(file)

data[:5]

[{'question': 'How many heads of the departments are older than 56 ?|CREATE TABLE head (age INTEGER)',
  'answer': 'SELECT COUNT(*) FROM head WHERE age > 56'},
 {'question': 'List the name, born state and age of the heads of departments ordered by age.|CREATE TABLE head (name VARCHAR, born_state VARCHAR, age VARCHAR)',
  'answer': 'SELECT name, born_state, age FROM head ORDER BY age'},
 {'question': 'List the creation year, name and budget of each department.|CREATE TABLE department (creation VARCHAR, name VARCHAR, budget_in_billions VARCHAR)',
  'answer': 'SELECT creation, name, budget_in_billions FROM department'},
 {'question': 'What are the maximum and minimum budget of the departments?|CREATE TABLE department (budget_in_billions INTEGER)',
  'answer': 'SELECT MAX(budget_in_billions), MIN(budget_in_billions) FROM department'},
 {'question': 'What is the average number of employees of the departments whose rank is between 10 and 15?|CREATE TABLE department (num_employees INTEGER, ranking INTEGER)',
  'answer': 'SELECT AVG(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}]

In [ ]:
formatted_data = []

for item in data:
  question_parts = item["question"].split('|')
  question_text = question_parts[0]
  table_schema = question_parts[1]

  formatted_instance = {
        "instruction": f"In the {table_schema}, {question_text}",
        "output": item["answer"]
    }

  formatted_data.append(formatted_instance)

formatted_data[:5]

[{'instruction': 'In the CREATE TABLE head (age INTEGER), How many heads of the departments are older than 56 ?',
  'output': 'SELECT COUNT(*) FROM head WHERE age > 56'},
 {'instruction': 'In the CREATE TABLE head (name VARCHAR, born_state VARCHAR, age VARCHAR), List the name, born state and age of the heads of departments ordered by age.',
  'output': 'SELECT name, born_state, age FROM head ORDER BY age'},
 {'instruction': 'In the CREATE TABLE department (creation VARCHAR, name VARCHAR, budget_in_billions VARCHAR), List the creation year, name and budget of each department.',
  'output': 'SELECT creation, name, budget_in_billions FROM department'},
 {'instruction': 'In the CREATE TABLE department (budget_in_billions INTEGER), What are the maximum and minimum budget of the departments?',
  'output': 'SELECT MAX(budget_in_billions), MIN(budget_in_billions) FROM department'},
 {'instruction': 'In the CREATE TABLE department (num_employees INTEGER, ranking INTEGER), What is the average number of employees of the departments whose rank is between 10 and 15?',
  'output': 'SELECT AVG(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}]

In [ ]:
with open('/content/formatted_output.json', 'w') as output_file:
  json.dump(formatted_data, output_file, indent = 2)

print("conversion Complete")

conversion Complete

In [ ]:
with open('/content/formatted_output.json', 'r') as file:
  data = json.load(file)

data[:10]

[{'instruction': 'In the CREATE TABLE head (age INTEGER), How many heads of the departments are older than 56 ?',
  'output': 'SELECT COUNT(*) FROM head WHERE age > 56'},
 {'instruction': 'In the CREATE TABLE head (name VARCHAR, born_state VARCHAR, age VARCHAR), List the name, born state and age of the heads of departments ordered by age.',
  'output': 'SELECT name, born_state, age FROM head ORDER BY age'},
 {'instruction': 'In the CREATE TABLE department (creation VARCHAR, name VARCHAR, budget_in_billions VARCHAR), List the creation year, name and budget of each department.',
  'output': 'SELECT creation, name, budget_in_billions FROM department'},
 {'instruction': 'In the CREATE TABLE department (budget_in_billions INTEGER), What are the maximum and minimum budget of the departments?',
  'output': 'SELECT MAX(budget_in_billions), MIN(budget_in_billions) FROM department'},
 {'instruction': 'In the CREATE TABLE department (num_employees INTEGER, ranking INTEGER), What is the average number of employees of the departments whose rank is between 10 and 15?',
  'output': 'SELECT AVG(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'},
 {'instruction': 'In the CREATE TABLE head (name VARCHAR, born_state VARCHAR), What are the names of the heads who are born outside the California state?',
  'output': "SELECT name FROM head WHERE born_state <> 'California'"},
 {'instruction': "In the CREATE TABLE department (creation VARCHAR, department_id VARCHAR); CREATE TABLE management (department_id VARCHAR, head_id VARCHAR); CREATE TABLE head (head_id VARCHAR, born_state VARCHAR), What are the distinct creation years of the departments managed by a secretary born in state 'Alabama'?",
  'output': "SELECT DISTINCT T1.creation FROM department AS T1 JOIN management AS T2 ON T1.department_id = T2.department_id JOIN head AS T3 ON T2.head_id = T3.head_id WHERE T3.born_state = 'Alabama'"},
 {'instruction': 'In the CREATE TABLE head (born_state VARCHAR), What are the names of the states where at least 3 heads were born?',
  'output': 'SELECT born_state FROM head GROUP BY born_state HAVING COUNT(*) >= 3'},
 {'instruction': 'In the CREATE TABLE department (creation VARCHAR), In which year were most departments established?',
  'output': 'SELECT creation FROM department GROUP BY creation ORDER BY COUNT(*) DESC LIMIT 1'},
 {'instruction': "In the CREATE TABLE management (department_id VARCHAR, temporary_acting VARCHAR); CREATE TABLE department (name VARCHAR, num_employees VARCHAR, department_id VARCHAR), Show the name and number of employees for the departments managed by heads whose temporary acting value is 'Yes'?",
  'output': "SELECT T1.name, T1.num_employees FROM department AS T1 JOIN management AS T2 ON T1.department_id = T2.department_id WHERE T2.temporary_acting = 'Yes'"}]

In [ ]:
import re
import json

data_type_mapping = {
    "INTEGER": "integer",
    "BIGINT": "bigint",
    "SMALLINT": "smallint",
    "FLOAT": "float",
    "DOUBLE": "double precision",
    "DECIMAL": "decimal",
    "NUMERIC": "numeric",
    "BOOLEAN": "boolean",
    "CHAR": "character",
    "VARCHAR": "text",
    "TEXT": "text",
    "DATE": "date",
    "TIME": "time",
    "TIMESTAMP": "timestamp",
}

def convert_instruction(instruction):
   
    schema_match = re.search(r'\((.*?)\)', instruction)
    if schema_match:
        schema = schema_match.group(1)
        
        for data_type, readable_type in data_type_mapping.items():
            schema = schema.replace(data_type, readable_type)
        
        schema = schema.strip()
        
        instruction = instruction.replace(f"({schema})", f"with columns {schema}")
    return instruction


with open('/content/formatted_output.json', 'r') as file:
    data = json.load(file)

for entry in data:
    entry["instruction"] = convert_instruction(entry["instruction"])

with open('/content/formatted_output_new.json', 'w') as file:
    json.dump(data, file, indent=2)

print("Conversion complete. Modified data saved to your_output_file.json.")

Conversion complete. Modified data saved to your_output_file.json.

In [ ]:
with open('/content/formatted_output_new.json', 'r') as file:
  json.load(file)

data[:5]

[{'instruction': 'In the CREATE TABLE head (age INTEGER), How many heads of the departments are older than 56 ?',
  'output': 'SELECT COUNT(*) FROM head WHERE age > 56'},
 {'instruction': 'In the CREATE TABLE head (name VARCHAR, born_state VARCHAR, age VARCHAR), List the name, born state and age of the heads of departments ordered by age.',
  'output': 'SELECT name, born_state, age FROM head ORDER BY age'},
 {'instruction': 'In the CREATE TABLE department (creation VARCHAR, name VARCHAR, budget_in_billions VARCHAR), List the creation year, name and budget of each department.',
  'output': 'SELECT creation, name, budget_in_billions FROM department'},
 {'instruction': 'In the CREATE TABLE department (budget_in_billions INTEGER), What are the maximum and minimum budget of the departments?',
  'output': 'SELECT MAX(budget_in_billions), MIN(budget_in_billions) FROM department'},
 {'instruction': 'In the CREATE TABLE department (num_employees INTEGER, ranking INTEGER), What is the average number of employees of the departments whose rank is between 10 and 15?',
  'output': 'SELECT AVG(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}]

In [ ]:
import json
import re

with open('/content/formatted_output_new.json', 'r') as file:
    data = json.load(file)

def modify_instruction(instruction):

    match = re.match(r'In the CREATE TABLE (\w+) \((.*?)\), (.*)', instruction)
    if match:
        table_name = match.group(1)
        schema = match.group(2)
        query = match.group(3)

        modified_instruction = f"In the table named {table_name} with columns ({schema}), {query}"
        return modified_instruction
    else:
        return instruction  

for entry in data:
    entry["instruction"] = modify_instruction(entry["instruction"])

with open('/content/formatted_output_new_final.json', 'w') as file:
    json.dump(data, file, indent=2)

print("Modification complete. Modified data saved to your_output_file.json.")

Modification complete. Modified data saved to your_output_file.json.

In [ ]:
with open('/content/formatted_output_new_final.json', 'r') as file:
  data = json.load(file)

data[:5]

[{'instruction': 'In the table named head with columns (age INTEGER), How many heads of the departments are older than 56 ?',
  'output': 'SELECT COUNT(*) FROM head WHERE age > 56'},
 {'instruction': 'In the table named head with columns (name VARCHAR, born_state VARCHAR, age VARCHAR), List the name, born state and age of the heads of departments ordered by age.',
  'output': 'SELECT name, born_state, age FROM head ORDER BY age'},
 {'instruction': 'In the table named department with columns (creation VARCHAR, name VARCHAR, budget_in_billions VARCHAR), List the creation year, name and budget of each department.',
  'output': 'SELECT creation, name, budget_in_billions FROM department'},
 {'instruction': 'In the table named department with columns (budget_in_billions INTEGER), What are the maximum and minimum budget of the departments?',
  'output': 'SELECT MAX(budget_in_billions), MIN(budget_in_billions) FROM department'},
 {'instruction': 'In the table named department with columns (num_employees INTEGER, ranking INTEGER), What is the average number of employees of the departments whose rank is between 10 and 15?',
  'output': 'SELECT AVG(num_employees) FROM department WHERE ranking BETWEEN 10 AND 15'}]